<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>World Weather</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="styles/style.css">

  </head>

<body ng-app="F1FeederApp">
<div class="header" ng-controller="driversController">
    <div class="container">
      <div class="panel panel-default">
          <div class="panel-heading">
              <h1>World Weather</h1>
              <div class="row">
                <form ng-submit="getWeather(cityName)" class="form-inline"> 
                  
                  <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                        <div class="input-group">                  
                          <input type="text" ng-model="cityName" placeholder="Your city name" class="form-control">
                          <div class="input-group-btn">
                            <input type="submit" class="btn btn-default submit" value="search">
                          </div>
                        </div>  
                        
                  </div>
                    <!-- <div class="col-sm-6">                  
                
                      <div class="form-group">                  
                          <input type="text" ng-model="cityName" placeholder="Your city name" class="form-control">
                      </div>   
                           
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                          <submit class="btn btn-default submit" ng-click="getWeather(cityName)">Search <span ng-bind="cityName"></span></submit>
                        </div>
                    </div> -->
                </form>  
              </div>
          </div>
          
      </div>

    
     
      
      
    </div>
  </div>
  <ng-view></ng-view>

  
  <div id="footer">
    <p>An AngularJs app created by Xuning Tian | <span>Visit <a href="https://github.com/txn513/weather-webapp">Github</a></span></p>
    <p>API provided by <a href="http://openweathermap.org/">Open Weather Map</a></p>
  </div>
  
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>

<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/services/service.js"></script>
<script src="scripts/filters/temp-convert.js"></script>
<script src="scripts/filters/direction.js"></script>

</body>
</html>
