<div class="content">
  <div class="container">
    <!-- <h1>Weather in {{city.name}}</h1> -->
    <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">{{city.name}} | {{date | date:'yyyy-MM-dd'}}</div>
            <div class="panel-body">
              <table class="table table-striped">
            <thead>
              <tr>
                <th>Current Temp.</td>
                <th>{{city.main.temp | tempConvert}} °C</td>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <td>Wind</td>
                <td>{{city.wind.speed}} m/s</td>
              </tr>
              
              <tr>
                <td>Pressure</td>
                <td>{{city.main.pressure}} hpa</td>
              </tr>
              <tr>
                <td>Humidity</td>
                <td>{{city.main.humidity}} %</td>
              </tr>
              <tr>
                <td>Sunrise</td>
                <td>{{city.sys.sunrise*1000 | date:'HH:mm'}}</td>
              </tr>
              <tr>
                <td>Sunset</td>
                <td>{{city.sys.sunset*1000 | date:'HH:mm'}}</td>
              </tr>
            </tbody>
          </table>
            </div>
          </div>
        </div>
    

        
    </div>
  </div>
</div>