<div class="search">
    <div class="container">
      <h1>World Weather</h1>

      <form class="form-horizontal">

        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" ng-model="cityName" placeholder="Enter a city's name" class="form-control">
          </div>
          
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <submit class="btn btn-default" ng-click="getWeather(cityName)">Submit</submit>
          </div>
        </div>

      </form>
    
     
      
      
    </div>
  </div>